/*
 * CSS stylesheet for the xpr app
 *
 * @author emchateau & sardinecan (ANR Experts)
 * @since 2022-07
 * @licence GNU http://www.gnu.org/licenses
 * @version 0.2
 *
 * xpr is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 */
/*
xforms element
*/

xforms-trigger.del button,
xforms-label xforms-trigger button {
    background-color: inherit;
    border: none;
    font-size: .8em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

button {
    background-color: inherit;
    border: 3px solid var(--color-teal);
    border-radius: var(--radius);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

xforms-repeat + xforms-trigger[xf-bound] {
    margin-bottom: 2em;
}


xforms-group[xf-bound],
xforms-repeat-item {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

xforms-group[xf-bound] xforms-group[xf-bound],
xforms-group[xf-bound] xforms-repeat[xf-bound],
xforms-case {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
}

xforms-group:not([xf-ref]){
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
}

xforms-group[xf-bound] > xforms-label,
xforms-repeat-item > xforms-label,
xforms-group[xf-bound] > xforms-help-mark,
xforms-repeat-item > xforms-help-mark,
xforms-group[xf-bound] > .trigger,
xforms-repeat-item > .trigger
{
    grid-column-start: 1;
    grid-column-end: 5;
}

xforms-group[xf-bound] > xforms-hint-mark,
xforms-group[xf-bound] > xforms-body
{
    display: none;
}
xforms-group[xf-bound] > xforms-hint-mark,
xforms-group[xf-bound] > xforms-body
{
    display: none;
}

xforms-input[xf-bound],
xforms-select1[xf-bound],
xforms-select[xf-bound] {
    grid-column: auto / span 2;
}

xforms-textarea[xf-bound] {
    grid-column-start: 1;
    grid-column-end: 5;
}

xforms-input[xf-bound]:not([xf-notrelevant]),
xforms-select1[xf-bound]:not([xf-notrelevant]),
xforms-select[xf-bound]:not([xf-notrelevant]),
xforms-textarea[xf-bound]:not([xf-notrelevant]) {
    display: inline !important;
    flex-wrap: wrap;
    align-content: flex-start;
}

xforms-group[xf-bound].link {
    display: inline !important;
}

xforms-input[xf-bound] > xforms-label,
xforms-select1[xf-bound] > xforms-label,
xforms-select[xf-bound] > xforms-label,
xforms-textarea[xf-bound] > xforms-label {
    order: 1;
}

xforms-input[xf-bound] > xforms-required,
xforms-select1[xf-bound] > xforms-required,
xforms-select[xf-bound] > xforms-required,
xforms-textarea[xf-bound] > xforms-required {
    order: 2;
}

xforms-input[xf-bound] > xforms-help-mark,
xforms-select1[xf-bound] > xforms-help-mark,
xforms-select[xf-bound] > xforms-help-mark,
xforms-textarea[xf-bound] > xforms-hel-markp
{
    order: 3;
}

xforms-input[xf-bound] > xforms-alert-mark,
xforms-select1[xf-bound] > xforms-alert-mark,
xforms-select[xf-bound] > xforms-alert-mark,
xforms-textarea[xf-bound] > xforms-alert-mark{
    order: 4;
}

xforms-input[xf-bound] > xforms-body,
xforms-select1[xf-bound] > xforms-body,
xforms-select[xf-bound] > xforms-body,
xforms-textarea[xf-bound] > xforms-body {
    order: 5;
    flex-basis: 100%;
}


xforms-help {
    font-size: .8em !important;
}

xforms-input xforms-label,
xforms-select xforms-label,
xforms-select1 xforms-label,
xforms-textarea xforms-label {
    font-weight: normal;
}

/*xforms-repeat:not(.simpleRepeat) > xforms-repeat-item:not(:first-child) > xforms-label,
xforms-repeat + xforms-group {
    margin-top: 3em;
}*/


/*xforms-group[xf-bound] > xforms-group[xf-bound] + xforms-trigger,
xforms-repeat[xf-bound] + xforms-trigger,

 {
    margin-top: 3em;
}*/

xforms-repeat > xforms-repeat-item:not(:last-of-type) .separator {
    margin-bottom: 3em;
}

xforms-repeat[xf-ref='self::eac:dateSet/*'][xf-bound] > xforms-repeat-item:not(:last-of-type) {
    margin-bottom: 2.5em;
}

xforms-label h2,
xforms-label h3 {
    display: inline-block;
}

.autocomplete {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

.autocomplete .autocompleteResults > xforms-repeat-item {
    display: block !important;
}

input[readonly] {
    background-color: lightgray;
    color: gray;
}

.sourced,
.targeted {
    border-bottom: 5px solid var(--color-teal);
}